@font-face {
  font-family: 'Nevis-Bold';
  src:url('../fonts/Nevis-Bold.ttf.woff') format('woff'),
      url('../fonts/Nevis-Bold.ttf.svg#Nevis-Bold') format('svg'),
      url('..fonts/Nevis-Bold.ttf.eot'),
      url('..fonts.Nevis-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: black;
  line-height: 1.25rem;
  margin: 0px;
  font-family: 'Nevis-Bold';
  height: 100%
}
 .four .three .two .home.one.z-hover {
  background: url('http://31.media.tumblr.com/e4721aed8cc2566ae0c13bfe4978f05f/tumblr_ntpc17aqyu1u7leb2o1_400.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.four .three .two .home.one.z-hover-two {
  background: url('http://ak-hdl.buzzfed.com/static/enhanced/webdr02/2013/7/15/15/anigif_enhanced-buzz-16460-1373917955-9.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

@keyframes hideshow_one {
  0% { opacity: 0; }
  25% {opacity: 0; }
  100% { opacity: 1; }
}

@keyframes hideshow_two {
  0% { opacity: 0; }
  50% {opacity: 0; }
  100% { opacity: 1; }
}

@keyframes hideshow_three {
  0% { opacity: 0; }
  50% {opacity: 0;}
  75% {opacity: 0; }
  100% { opacity: 1; }
}


@keyframes hideshow_four {
  0% { opacity: 0; }
  50% {opacity: 1;}
}

@keyframes hideshow_five {
  0% { opacity: 0; }
  50% {opacity: 1;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

.letter-part {
  animation: hideshow_one 5s ease;
}
 
.letter-part-two {
  animation: hideshow_two 5s ease;
}

.letter-part-three {
  animation: hideshow_three 3s ease;
}

.letter-part-three {
  animation: hideshow_four 3s ease;
}


.clearfix {
  clear: both;
  overflow: hidden;
}

.logo {
  float: right;
  width: 50rem;
  margin-right: 20px;
  overflow: hidden;
}

svg {
  width: 100%;
}

.center-text {
  text-align: center;
  font-family: 'Nevis-Bold';
  font-size: 1rem;
  margin-top: 40%;
}
  

h1 {
  font-size: 12rem;
  line-height: 10rem;
  font-family: 'Nevis-Bold';
  color: black;
  font-weight: 400;
  text-transform: uppercase;
}
  


h2 {
  font-size: 3.5rem;
  line-height: 5.5rem;
  font-family: 'Nevis-Bold';
  color: black;
  font-weight: 400;
  text-transform: uppercase;
}
  
h3 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-family: 'Nevis-Bold';
  color: black;
  font-weight: 400;
  text-transform: uppercase;
}

h5 {
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: 'Nevis-Bold';
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

p.small {
  font-size: .7rem;
  line-height: 1.7rem;
}
.text-right {
  text-align: right;
  padding-right: 50px;
  position: absolute;
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: ease;
  p {
    color: white;
  }
  p:hover p {
    color: black;
  }
}
  
.text-left {
  text-align: left;
  background-color: #00FFEC;
  transition-duration: 1s;
  transition-timing-function: ease;
  h2 {
    color: white;
    padding-left: 20px;
  }
  p {
    color: white;
    padding: 50px 0;
  }
  &:hover {
    background-color: white;
    h2 {
      color: black;
    }
    p {
      color: black;
    }
  }  
  p.small {
    padding: 0 0 50px 0;
  }
}

.half {
  width: 49.5%;
  height: 100%;
  float: left;
}

.text-area {
  color: black;
  font-family: 'Nevis Bold';
  border-bottom: 3px solid black;
  height: 50%;
  margin-top: 10%;
  overflow: scroll;
  padding: 15px;
}

.text-wrap {
  overflow: scroll;
  position: absolute;
  height: 100%;
  padding: 25px 25px 0px 7%;
  font-size: 1.5rem;
  line-height: 2.7rem;
  width: 36%;
  &:hover {
    cursor: url('../images/WWclick.svg'), default !important;
  }
}
  
svg {
  position: absolute;
    top: 0;
    left: 0;
  path {
    fill: #000;
    &:hover {
      fill: #FFFFFF;
    }
  }
  polygon {
    fill: #000;
    &:hover {
      fill: #FFFFFF;
    }
  }
  polygon.z-slash {
    fill: #00FFEC;
    animation: hideshow_five 5s infinite alternate;
    &:hover {
      fill: #FFFFFF;
      cursor: pointer;
    }
  }
}

.svg-container {
  width: 80%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.liquid-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

.liquid-child {
  width: 100%; 
  height: 100%; 
}

.four {
  border-top: none;
  border-left: 3px solid black;
  border-right: none;
  border-bottom: none;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  right: 0px;
  transition-duration: .2s;
  transition-timing-function: ease;
  background-color: white;
  z-index: 25;
  .three {
    border-top: none;
    border-left: 3px solid black;
    border-right: none;
    border-bottom: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 10px;
    transition-duration: .2s;
    transition-timing-function: ease;
    background-color: white;
    z-index: 50;
    .two {
      border-top: none;
      border-left: 3px solid black;
      border-right: none;
      border-bottom: none;
      position: absolute;
      top: 0px;
      right: 0px;
      left: 10px;
      bottom: 0px;
      transition-duration: .2s;
      transition-timing-function: ease;
      background-color: white;
      z-index: 75;
      .one {
        border-top: none;
        border-left: 3px solid black;
        border-right: none;
        border-bottom: none;
        background-color: white;
        position: absolute;
        right: 0px;
        left: 10px;
        bottom: 0px;
        top: 0px;
        padding: 0px 0 0 10px;
        transition-duration: .2s;
        transition-timing-function: ease;
        background-color: white;
        z-index: 100;
      }
    }
  } 
}

.four:hover {
  cursor: pointer;
  .three {
    top: 0px;
    right: 0px;
    left: 20px;
    bottom: 0px;
    &:hover {
      top: 0px;
      right: 0px;
      left: 10px;
      bottom: 0px;
      cursor: pointer;
      .two{
        top: 0px;
        right: 0px;
        left: 20px;
        bottom: 0px;
        &:hover {
          top: 0px;
          right: 0px;
          left: 10px;
          bottom: 0px;
          cursor: pointer;
          .one{
            top: 0px;
            right: 0;
            left: 20px;
            bottom: 0px;
            cursor: url('../images/WWsite_scroll.svg'), default;
            &:hover {
              top: 0px;
              right: 0px;
              left: 10px;
              bottom: 0px;
            }              
          }            
        }    
      }     
    }
  }    
}


.front-card {
  border: 3px solid black;
  background-color: white;
  position: absolute;
  right: 0px;
  left: 50px;
  bottom: 0px;
  top: 58px;
  padding: 20px 0 0 20px;
  transition-duration: .2s;
  transition-timing-function: ease;
  background-color: white;
  cursor: url('../images/WWsite_scroll.svg'), default;
  &:hover {
    top: 48px;
    left: 40px;
  }
}

.old-transition {
  z-index: 10;
}

.new-transition {
  z-index: 0;
  left: -10px;
  top: -10px;
}

.in-transition {
  border: 3px solid white;
}

.clear {
  opacity: 0;
}


.content {
  z-index: 500;
}


.scroll {
  overflow: scroll;
  height: 100%;
  width: 100%;
}
.inner-wrapper-2 {
  cursor: url('../images/WWclick.svg'), default !important;
}
.work-wrapper {
  width: 3200px;
  height: 100%;
  .image-wrap {
    display: inline;
    position: relative;
    overflow: hidden;
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 100px;
    transition-duration: 1s;
    transition-timing-function: ease;
    background-color: white;
    padding: 50px;
    img {
      width: 100%;
      height: auto;
      opacity: 1;
      transition-duration: 0.5s;
      transition-timing-function: ease;
    }
    &:hover {
      cursor: none;
    }
    .caption {
      color: black;
      display: none;
      padding: 30px;
      font-size: 1rem;
      line-height: 1.5rem;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
    }
    &:hover {
      background-color: #00FFEC;
      .caption {
        display: table;
        .caption-text {
          display: table-cell;
          vertical-align: middle;
        }
      }
      img {
        opacity: 0;
      }
    }
      
  }
}

.work-text {
  position: fixed;
  width: 240px;
  bottom: 50%;
  right: 20px;
  z-index: 100;
  text-align: right;
  opacity: 1;
  h5 {
    text-transform: lowercase;
    line-height: 2rem;
  }
  &:hover {
    opacity: 0;
  }
}
  
// .map-wrapper {
//   width: 50%;
//   height: 600px;
// }
#map {
  height: 600px;
  width: 45%;
  z-index: 600;
  margin: 30px;
  float: left;
}

.map-text {
  margin: 0;
  float: left;
  width: 45%;
}
.card-one {
  height: 100%;
}
.ember-view {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}
.cta {
  display: inline-block;
  color: black;
  underline: none;
  position: relative;
  &:after {
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 50%;
    width: 100%;
    background: #00FFEC;
    opacity: .5;
    pointer-events: none;
  }
  &:hover:after {
    opacity: 0;
  }
}

// .sidebar {
//   background-color: black;
//       position: fixed;
//     right: 0;
//     bottom: 0;
//     top: 0;
//     width: 39px;
//     box-shadow: -10px 0px 31px grey;
//     z-index: 10000;
// }

.sidebar-text {
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 10px;
}

.sidebar-text-one {
  margin-left: 0px;
  font-size: 10px;
  text-transform: uppercase;
  float: left;
}

.phone-text {
  display: none;
}
@media (max-width: 480px) {
  .four {
    left: 3px;
    .three {
      left: 3px;
      .two {
        left: 3px;
        .one {
          left: 3px;
        &.about {
          background-color: #00FFEC;
          height: 100%;
          overflow: scroll;
          }
        }
      }
    }
  }
  .four:hover {
    .three {
      left: 3px;
      &:hover {
        left: 3px;
        .two{
          left: 3px;
          &:hover {
            left: 3px;
            .one{
              left: 3px;
              &:hover {
                left: 3px;
              }              
            }            
          }    
        }     
      }
    }    
  }
  .four .three .two .card.one.work {
     background-color: #FFFFFF;
  }
  .half {
      width: 100%;
      background-color: #00FFEC;
      float: none;
      height: auto;
    }
  h2 {
    margin-top: 100px; 
    font-size: 3rem;
    line-height: 4.5rem;
    }
  .text-wrap {
    padding: 0 8%;
    font-size: 1.5rem;
    line-height: 2.7rem;
    width: 89%;
    position: relative;
    }
  .text-left .text-wrap p {
    padding: 0;
  }
  .map-wrapper {
    display: none;
  }
  .map-text {
    display: none;
  }
  .contact {
    h3 {
      display: none;
    }
  }
  .text-left:hover {
    background-color: #00FFEC;
  }
  .work-wrapper .image-wrap {
    padding: 50px 0;
  }
  .title {
    display: none;

  }
  .phone-text {
    display: block;
    margin: 0;
    float: left;
    width: 92%;
    padding-left: 20px;
  }
  .svg-container {
    width: 78%;
  }
}

@media (max-width: 768px) {
  .four:hover {
    .three {
      left: 10px;
      &:hover {
        left: 10px;
        .two{
          left: 10px;
          &:hover {
            left: 10px;
            .one{
              left: 10px;
              &:hover {
                left: 10px;
              }              
            }            
          }    
        }     
      }
    }  
  }  
  .four .three .two .one.about {
    background-color: #00FFEC;
    height: 100%;
    overflow: scroll;   
  }
   .four .three .two .card.one.work {
     background-color: #FFFFFF;
  }
  .half {
      width: 100%;
      background-color: #00FFEC;
      float: none;
      height: auto;
    }
  h2 {
    margin-top: 100px; 
    font-size: 5rem;
    line-height: 6.5rem;
    }
  .text-wrap {
    padding: 20px;
    font-size: 1.5rem;
    line-height: 2.7rem;
    width: 89%;
    position: relative;
    }
  .text-left .text-wrap p {
    padding: 0;
  }
  #map {
    height: 600px;
    width: 92%;
    z-index: 600;
    margin: 20px;
    float: left;
  }
  .map-text {
    margin: 20px;
    float: left;
    width: 100%;
  } 
}
