<div class="card about four" {{action 'transitionToFour'}}>
  <div class="card about three" {{action 'transitionToThree'}}>
    <div class="card about two" {{action 'transitionToTwo'}}>
      <div class="card about one">
				<div class="clearfix">
				{{google-map}}
					<div class="map-text right">
					 <h3> Curiosity Piqued? <br> Give us a shout or find us around town.</h3>
					 <p> Phone:  720.352.4336 </p>
					 <p> Email:  <a class="cta" href="mailto:jon@iheartwunderwerkz.com"> jon@iheartwunderwerkz.com </a></p>
					 <p> Mail:  3350 Brighton Blvd | Denver, CO | 80216</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>