<div class="card contact four" {{action 'transitionToFour'}}>
    <div class="sidebar-text"> w<br>o<br>r<br>k </div>
  <div class="card contact three" {{action 'transitionToThree'}}>
      <div class="sidebar-text"> a<br>b<br>o<br>u<br>t </div>
    <div class="card contact two" {{action 'transitionToTwo'}}>
    <div class="sidebar-text">h<br>o<br>m<br>e </div>
      <div class="card contact one" {{action 'dontTransition'}}>
        <div class="sidebar-text-one">c<br>o<br>n<br>t<br>a<br>c<br>t
        </div>
        <div class="half contact-half">
          <h2> GET <br/> IN <br/>TOUCH </h2>
				</div>
        <div class="half contact-half">
          <div class="text-wrap">
            <label> Visit </label>
            <a href="https://www.google.com/maps/place/3350+Brighton+Blvd+%23201,+Denver,+CO+80216/@39.768559,-104.9817705,17z/data=!3m1!4b1!4m2!3m1!1s0x876c791b598178bb:0x96b114122dab0cde">
              <p> 3350 Brighton Blvd #210 <br/>
                Denver, CO 80216 </p>
            </a>
            <label> Email </label>
            <a href="mailto: jon@iheartwunderwerkz.com">
              <p> JON@IHEARTWUNDERWERKZ.COM </p>
            </a>
            <label> Phone </label>
              <p> 303.594.4990 </p>
            <label> Instagram </label>
            <a href="https://www.instagram.com/wunder_werkz">
              <p> @Wunder_werkz </p>
            </a>
            <label> Facebook </label>
            <a href="https://www.facebook.com/wunderwerkz">
              <p> /Wunderwerkz </p>
            </a>    
          </div>
        </div>
			</div>
		</div>
	</div>
</div>